# Ignore node_modules
node_modules/

# Ignore VSCode settings
.vscode/

# Ignore environment variables
.env

# Ignore package lock
package-lock.json

# Ignore compiled files
dist/
build/

# Ignore OS specific files
.DS_Store
Thumbs.db
